
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/

*.dll

/node_modules/
/IPrehab/node_modules/
/IPRehab/Scripts/app/animateBanner.js
/IPRehab/Scripts/app/animateBanner.js.map
/IPRehab/Scripts/app/commandBtns.js
/IPRehab/Scripts/app/commandBtns.js.map
/IPRehab/Scripts/app/form.js
/IPRehab/Scripts/app/form.js.map
/IPRehab/Scripts/app/patientList - Copy.js.map
/IPRehab/Scripts/app/patientList.js
/IPRehab/Scripts/app/patientList.js.map
/IPRehab/wwwroot/css/app.css
/IPRehab/wwwroot/css/app.min.css
/IPRehab/wwwroot/js/app/animateBanner.js
/IPRehab/wwwroot/js/app/animateBanner.js.map
/IPRehab/wwwroot/js/app/commandBtns.js
/IPRehab/wwwroot/js/app/commandBtns.js.map
/IPRehab/wwwroot/js/app/form.js
/IPRehab/wwwroot/js/app/form.js.map
/IPRehab/wwwroot/js/app/patientList - Copy.js.map
/IPRehab/wwwroot/js/app/patientList.js
/IPRehab/wwwroot/js/app/patientList.js.map
/IPRehab/Scripts/app/branching.js
/IPRehab/Scripts/app/branching.js.map
/IPRehab/Scripts/app/form.js
/IPRehab/Scripts/app/form.js.map
/IPRehab/Scripts/app/patientDataTable.js
/IPRehab/Scripts/app/patientDataTable.js.map
/IPRehab/wwwroot/css/app.css
/IPRehab/wwwroot/css/transition.css
/IPRehab/wwwroot/js/app/branching.js
/IPRehab/wwwroot/js/app/branching.js.map
/IPRehab/wwwroot/js/app/form.js
/IPRehab/wwwroot/js/app/form.js.map
/IPRehab/wwwroot/js/app/patientDataTable.js
/IPRehab/wwwroot/js/app/patientDataTable.js.map
/~$VSSC Feedback 06.20.2021.xlsx
/~$VSSC Feedback 07.02.2021.xlsx
