@model IPRehabModel.tblEpisodeOfCare

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section VendorScripts{
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<h1>Create</h1>

<h4>TblEpisodeOfCare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OnsetDate" class="control-label"></label>
                <input asp-for="OnsetDate" class="form-control" type="datetime"/>
                <span asp-validation-for="OnsetDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionDate" class="control-label"></label>
                <input asp-for="AdmissionDate" class="form-control" type="datetime" />
                <span asp-validation-for="AdmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientICNFK" class="control-label"></label>
                <select asp-for="PatientICNFK" class ="form-control" asp-items="ViewBag.PatientIcnfk"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
