@{
  Layout = "_Layout";
}

@{await Html.RenderPartialAsync("_SearchPartial", new PatientListViewModel());}

<div class="flex-md-column paddingTop text-danger">
  <div class="font-weight-bold">No data for at least one of the following reasons:</div>
  <ul>
    <li>The new quarter data is not available yet</li>
    <li>Your access levels do not allow viewing the patients in the specified location</li>
    <li>No data matching the specified criteria</li>
  </ul>
</div>
