<div class="scoreSection flex-start-column-nowrap border border-dark">
    <div class="footerInstruction flex-container-evenly-justified">
        <div>Self Care and Mobility Grand Total</div>
        <div class="flex-container-evenly-justified flex-alignment-normal">
            <div class="flex-space-between-column-nowrap border border-dark">
                <div class="text-wrap">Admission Performance</div>
                <div id="Admission_Performance_Grand_Total" class="text-center aggregate_score">0</div>
            </div>
            <div class="flex-space-between-column-nowrap border border-dark">
                <div class="text-wrap">Discharge Performance</div>
                <div id="Discharge_Performance_Grand_Total" class="text-center aggregate_score">0</div>
            </div>
            <div class="flex-space-between-column-nowrap border border-dark">
                <div class="text-wrap">Total Change Score</div>
                <div id="Grand_Total" class="text-center aggregate_score">0</div>
            </div>
        </div>
    </div>
</div>
