<div class="footerInstruction flex-container-evenly-justified">
    <div>Self Care and Mobility Grand Total</div> 
    <div class="flex-container-evenly-justified flex-alignment-normal">
        <div class="flex-space-between-column-nowrap border border-dark">
            <div class="text-wrap">Total Aggregate</div>
            <div id="Grand_Total" class="text-center aggregate_score">0</div>
        </div>
    </div>
</div>
