<div id="questionTab" class="box-shadow" role="list">
    <div class="rotate2">Sections</div>
    <ul class="sidebar-nav">
        <!--
          <li class="nav-title"></li>
        -->
        @foreach (var sectionInfo in (List<SectionInfo>)ViewData["sectionInfo"])
        {
            <li role="listitem" class="nav-item gotoSection"
                data-anchorid="@(sectionInfo.SectionKey.Replace("(",string.Empty).Replace(")",string.Empty))">
                <span class="sectionKey">@($"{sectionInfo.SectionKey.Replace("(","").Replace(")","")}")</span>@sectionInfo.SectionTitle
                <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            </li>
        }
    </ul>
</div>