<div id="questionTab" class="box-shadow" role="list">
  <div class="sectionNavHeader">Sections</div>
  @foreach (var sectionInfo in (List<SectionInfo>)ViewData["sectionInfo"])
  {
    <div role="listitem" class="nav-item gotoSection" data-anchorid="@sectionInfo.SectionKey">
      @($"{sectionInfo.SectionTitle} {sectionInfo.SectionKey}")
      <i class="fa fa-bookmark-o" aria-hidden="true"></i>
    </div>
  }
</div>