@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is protected personal health information. Improper disclosure of information to anyone not authorized to receive it may result in criminal charges and a fine from $5,000 to $20,000 under the Privacy Act of 1974, 
    Title 5 United States Code (U.S.C.) 552(a), 38 U.S.C. Section 5701, Confidential Nature of Claims, and 38 U.S.C. Section 7332, Confidentiality of Certain Medical Records.</p>
