@model string

@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Inpatient Rehab</title>
  <link rel="stylesheet" href="~/css/app.css" />
  <style>
    body {
      margin: 0 !important;
    }
  </style>
</head>
<body>
  <main role="main" class="pb-3 main">
    <div class="container">
      <div class="splashscreen">
        <div id="flashText">Inpatient Rehab Assessment Tool</div>
        <div class="waitMessage">@Model</div>
        <div class="waitMessage">Starting.....</div>
      </div>
    </div>
  </main>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      setTimeout(function () {
        //var isLocalHost = window.location.host.indexOf('localhost') !== -1;
        var lastChar = window.location.href.slice(-1);
        if (lastChar === '/') {
          //var chleanUrl = window.location.href.replace(/\/$/, "")
          window.location = window.location + 'patient/index';
        }
        else {
          window.location = window.location + '/patient/index';
        }
      }, 2000);
    });
  </script>
</body>
</html>