.splashscreen {
  /*  position: absolute;
  top: 0;
  left: 0;*/
  width: 100vw;
  height: 500vh;
  background-color: #0e2640;
  background-image: url("../images/chiropractor_jumping_on_table_lg_clr.gif");
  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;
  /* Center the background image */
  background-position: center;
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  /* Scale the background image to be as large as possible */
  background-size: auto;
  overflow:hidden;
}

.splashscreen #flashText {
  display: flex;
  color: #1c2d8e;
  font-size: 5em;
  align-items: center;
  justify-content: center;
  /*position:fixed;*/
  background-image: -webkit-linear-gradient(#fff, #a6bad0,#433181);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.splashscreen #waitMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

body {
  scrollbar-width: 5px;
}

/*sandwitch button*/
.navbar-light .navbar-toggler-icon {
  background-color: white;
  /*  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");*/
}

.banner {
  background-color: #0e2640 !important;
  color: white;
  z-index: 500;
}

.banner .nav-link {
  color: white !important;
}

.banner .navbar-brand {
  color: white !important;
}

.pulldown {
  top: -4px !important;
  position: fixed;
  z-index: 100;
  color: #0e2640;
}

.sectionNavHeader {
  position: fixed;
  width: 250px;
  color: gold;
  background-color: #0e2640;
  text-align: center;
  font-weight: bold;
}

.disabled {
  pointer-events: none
}

.acceptConsent {
  background-color: black !important;
  color: white !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.splashSpinnerContainer{
  margin-right:0;
  margin-bottom:0;
}

.fixedTop {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: white;
  /*padding-top:10px*/
}

.fixedBottom {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.main {
  /*  margin-top: 20px !important;
*/
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 20px !important;
  background-color: #0e2640;
}

.patientName{
  font-weight:bold;
  font-size:large;
}

alert-info {
  color: #ff6a00;
  background-color: #becff4;
  /*border-color: #bee5eb;*/
}

.noData {
  display: flex;
  color: red;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
  height: 100%;
}

th {
  padding: 0 5px;
  /*  text-align: center !important;
*/
}

td {
  padding: 0 5px;
  text-align: left;
}


.commandBtn {
  margin: 10px 0;
}

#questionnaire {
  padding: 0 15px;
}

#questionnaire tbody tr td {
  padding: 5px;
}

.formName {
  background-color: gold;
  font-size: 1.5em;
  color: black;
  padding: 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px 5px 0 0;
}

.keyQuestion{
  color:#e2c633;
}

.questionTitle {
  background-color: #040534;
  color: gold;
  height: 2px;
  font-weight:bold;
}

.questionText {
  font-weight: bold;
  text-align:left;
}

.instructionIcon {
  width:12px;
  height:12px;
}

.questionInstruction{
  font-size:smaller;
  font-weight:normal;
}

.patientRow {
  background-color: #0e2640;
  color: white;
  margin: 20px !important;
  padding: 20px !important;
}

.wrapLongOption {
  display: flex;
  width: 250px !important;
  word-wrap: break-word !important;
  text-overflow: inherit !important;
  white-space: normal !important;
}

.radioLabel {
  display: inline !important;
}

.select2-results__options {
  background-color: black;
  color: gold;
  padding: 0 20px;
}

.select2-selection--single {
  height: 100% !important;
}

.select2-selection__rendered {
  color: mediumblue !important;
  word-wrap: break-word !important;
  text-overflow: inherit !important;
  white-space: normal !important;
}

.paddingTop {
  padding-top: 60px;
}

.borderTop {
  border-top: 2px solid black;
  border-left: 1ps solid black;
  border-right: 1ps solid black;
}

.borderBottom {
  border-left: 1ps solid black;
  border-right: 1ps solid black;
  border-bottom: 2px solid black;
}

.rotate {
  transform: rotate(-90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg); /* IE 9 */
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.roate2 {
  transform: rotate(-90deg) translate(0px,-40px);
}

.flex-start-row-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.flex-start-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 !important;
}

.flex-start-row-wrap-textInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-start-row-wrap-my-mdc-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}

.flex-start-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*align-items: center;*/
}

.flex-start-column-nowrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /*align-items: center;*/
}

.flex-end-row-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

tr#nonPaddinRow, tr#nonPaddinRow td {
  padding: 0px !important;
  background-color: white;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*horizontally*/
  padding: 0 5px;
}

.flex-item {
  flex: 0 1 calc(100% / 4);
  overflow: hidden;
  padding: 4px;
  /*  
  margin: 0 8px 5px 0;  
  border: 1px solid #ced4da;
  width:150px;
*/
}

.flex-item:nth-child(5n) {
  flex-basis: 100%;
  /*flex-grow: 4;*/
  /*width: 500px;*/
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
  flex-basis: 100%;
  height: 0;
}

#questionTab {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;
  background-color: white;
  position: fixed;
  margin-bottom: 21vh;
  top: 0px;
  left: -230px;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  z-index: 100;
  border: none;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#questionTab .nav-item {
  flex: 1 1 auto;
  color: black !important;
  border: solid 1px black !important;
  padding: 1px 2px;
  text-decoration-color: white !important;
  /*font-size: smaller;*/
}

#questionTab > .nav-item:nth-child(2) {
  margin-top: 20px;
}

#questionTab .nav-item:hover {
  cursor: pointer;
  background: gold;
}

.flex-container-evenly-justified {
  display: flex;
  flex-flow: row nowrap;
  /*vertical alignment*/
  align-items: center;
  /*horizontal aligment evenly*/
  justify-content: space-between;
}

.flex-item-left-justify {
  align-self: flex-start;
}

.flex-item-right-justify {
  align-self: flex-end;
}

.createActionAll {
  background-color: #c22bdb;
  color:white;
}

.createActionBase {
  background-color: #ff6a00;
  color:white;
}

.createActionInitial {
  background-color: #00ffff;
}

.createActionInterim {
  background-color: #6640ec;
  color:white;
}

.createActionDischarge {
  background-color: #ff006e;
  color:white;
}

.createActionFollowup {
  background-color: #4cff00;
}
