/*sandwitch button*/
.navbar-light .navbar-toggler-icon
{
  background-color: white;
/*  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");*/
}

.banner {
  background-color: #0e2640 !important;
  color: white;
}
.banner .nav-link {
  color: white !important;
}

.banner .navbar-brand {
  color: white !important;
}

.main{
  margin-top: 20px !important;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 20px !important;
  background-color: #0e2640;
}

th {
  padding:0 5px;
  text-align:center !important;
}

.commandBtn{
  margin:5px 0;
}

.questionTitle {
   background-color: #040534;
   color:gold;
}

.questionTitle {
   background-color: #040534;
   color: gold;
   height: 2px;
}

.wrapLongOption {
   width: 250px;
   word-wrap: break-word !important;
   text-overflow: inherit !important;
   white-space: normal !important;
}

.rowNumber{
  background-color:lightgrey;
}

.select2-results__options{
  background-color:lightgrey;
}
