.questionTitle {
   background-color: #040534;
   color:gold;
}

.questionTitle {
   background-color: #040534;
   color: gold;
   height: 2px;
}

.wrapLongOption {
   width: 250px;
   word-wrap: break-word !important;
   text-overflow: inherit !important;
   white-space: normal !important;
}
